.header__main {
  height: 10vh;
  background: #292727;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
