.wrapper {
  h1 {
    color: rgb(207, 1, 1);
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
  }
}

.wrapperLayout {
  padding: 0 100px;

  ul {
    display: flex;
    gap: 40px;
    margin: 30px 0;
    li {
      list-style: none;

      &:hover {
        color: #ea00ff;
        text-decoration: underline;
      }
    }
  }
}