* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 80%;
  margin: 0 auto;
}

body {
  height: 85vh;
}

#main {
  min-height: 100%;
  padding: 20px 0;
}
