.wrapper {
  .card__example {
    h3 {
      text-align: center;
      margin: 10px 0 20px;
    }
    p {
      margin: 10px 0 20px;
    }
    .image__main {
      img {
        max-width: 100%;
        height: 100%;
      }
    }
  }
  .cards__main__second {
    display: flex;
    justify-content: space-around;
    gap: 20px;

    @media (max-width: 912px) {
      flex-direction: column;
    }
    .image__main__second {
      padding: 0 0 58% 0; // гибкая высота
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
      }
    }
  }
  .cards__main__third {
    margin-top: 30px;
    .card__example {
      display: flex;
      gap: 30px;

      @media (max-width: 912px) {
        flex-direction: column;
        margin-top: 20px;
        gap: 0;
      }
      .image__main__third {
        flex: 0 0 33%;
        margin-bottom: 20px;
        position: relative;
        min-height: 150px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}
